@font-face {
	font-family: 'NeueMachina';
	src: url('../fonts/NeueMachina-Light.eot');
	src: local('☺'), url('../fonts/NeueMachina-Light.woff') format('woff'), url('fonts/NeueMachina-Light.ttf') format('truetype'), url('fonts/NeueMachina-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'NeueMachina';
	src: url('../fonts/NeueMachina-Regular.eot');
	src: local('☺'), url('../fonts/NeueMachina-Regular.woff') format('woff'), url('fonts/NeueMachina-Regular.ttf') format('truetype'), url('fonts/NeueMachina-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'NeueMachina';
	src: url('../fonts/NeueMachina-Ultrabold.eot');
	src: local('☺'), url('../fonts/NeueMachina-Ultrabold.woff') format('woff'), url('fonts/NeueMachina-Ultrabold.ttf') format('truetype'), url('fonts/NeueMachina-Ultrabold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}
